/* .login{
    text-align: center;
    background: navajowhite;

    width: 100%;
    margin: 0 auto;
    height: 50vh;
    margin-top: 10em;
    border-radius: 10%;
}

.connexion{
    background: red;
    padding: 1em;
}*/
/* form{
    width: 100%;
    background: red;
} */ 